# CMake build
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters

# Compilação
Debug/
Release/
x64/
x86/
*.obj
*.o
*.lib
*.dll
*.exe
*.pdb

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
